@using Microsoft.AspNetCore.Identity
@using EmployeeManagementSystem.Web.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager != null && SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        <li class="nav-item">
            <span class="nav-link text-dark">Sveikas, @user?.Email</span>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                <button type="submit" class="nav-link btn btn-link text-dark">Atsijungti</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Prisijungti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Registruotis</a>
        </li>
    }
</ul>
