@{
    ViewData["Title"] = "Privatumo politika";
}

<h1>@ViewData["Title"]</h1>

<p>
    Šiame puslapyje pateikiama informacija apie tai, kaip sistema tvarko naudotojų duomenis.
    Projekto tikslais asmens duomenys yra naudojami tik prisijungimui ir darbuotojų valdymui įmonės viduje.
</p>
